<section>
  {{#if content.isUpdating}}
    Loading...
  {{else}}
    {{#each post in content}}
      {{#link-to "admin.posts.show" post class="post" tagName="div"}}
        <h2>{{post.title}}</h2>
        <div class="date">
          TODO: Show Date
        </div>
        <div class="summary">
          TODO: Show Summary<br />
          TODO: Show Summary
        </div>
      {{/link-to}}
    {{else}}
      No Posts :(
    {{/each}}
  {{/if}}
</section>
<article>
  Hey, let's create a {{#link-to "admin.posts.new"}}new post{{/link-to}}!
</article>