<div class="show">
  <div class="list">
    {{#each post in controllers.adminPosts}}
      <div>
        {{#link-to "admin.posts.show" post}}
          {{post.title}}
        {{/link-to}}
      </div>
    {{/each}}
  </div>
  <div class="item">
    <h1>{{title}}</h1>
    <div class="codehilite">
      {{{bodyHtml}}}
    </div>
  </div>
</div>