<div class="show">
  <div class="list">
    {{#each post in controllers.adminPosts}}
      <div>
        {{#link-to "admin.posts.show" post}}
          {{post.title}}
        {{/link-to}}
      </div>
    {{/each}}
  </div>
  <div class="item">
    <div class="edit">
      {{#link-to "admin.posts.edit" content}}
        Edit
      {{/link-to}}
    </div>
    <h1>{{title}}</h1>
    {{{bodyHtml}}}
  </div>
</div>