<h2>New Post</h2>
<div class="field">
  <label {{bind-attr for="view.titleField.elementId"}}>Title</label>
  {{view Ember.TextField valueBinding="title" viewName="titleField"}}
</div>
<div class="field">
  <label {{bind-attr for="view.bodyField.textArea.elementId"}}>Body</label>
  {{markdown-editor viewName="bodyField"}}
</div>
<div>
  {{#link-to "blogelator.admin.posts.index"}}
    Back
  {{/link-to}}
</div>