@import "bourbon";
@import "blogelator/variables";
@import "neat";

body.blogelator.admin.posts .form-action-bar .save-button {
  background-color: $base-accent-color;
  color: $base-body-color;
  display: block;
  float: right;
  font-weight: bold;
  margin: 6px 0.5em;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  
  &.disabled {
    opacity: 0.6;
  }
}
  
body.blogelator.admin.posts .form-action-bar .save-button {
  .button-label {
    border: 1px solid $base-accent-color;
    padding: 4px;
    @include transition(border-color 0.1s linear);
  }
  
  &.publish {
    background-color: adjust-hue($base-accent-color, 210deg);
    
    .button-label {
      border: 1px solid adjust-hue($base-accent-color, 210deg);
    }
    
    .saving {
      background-color: adjust-hue($base-accent-color, 210deg);
      color: $base-body-color;
    }
    
    .saved,
    .error {
      color: adjust-hue($base-accent-color, 210deg);
    }
  }
  
  &:hover {
    .button-label {
      border-color: rgba($base-body-color, 0.8);
    }
  }
}

body.blogelator.admin.posts .form-action-bar .last-saved {
  color: $base-body-color;
  float: right;
  font-size: 0.75em;
  opacity: 0.9;
  margin-right: 4px;
  min-width: 110px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  
  label {
    font-size: 1em;
    margin: 4px 0 0 0;
  }
}