@import "bourbon";
@import "blogelator/variables";
@import "neat";

body.blogelator.admin.posts {
  footer .form-action-bar {
    a {
      background-color: $base-accent-color;
      color: $base-body-color;
      display: block;
      float: right;
      font-weight: bold;
      margin: 6px 0.5em;
      min-width: 100px;
      padding: 5px;
      text-align: center;
      text-decoration: none;
    }
  }
}