@import "bourbon";
@import "blogelator/variables";
@import "blogelator/mixins/blogelator_logo";
@import "neat";

body.blogelator.admin.posts {
  section.posts-list {
    .post {
      background-color: darken($base-body-color, 2%);
      border-bottom: 1px solid lighten($base-border-color, 5%);
      border-left: 10px solid darken($base-body-color, 2%);
      border-top: 1px solid lighten($base-border-color, 5%);
      color: lighten($base-font-color, 30%);
      cursor: pointer;
      margin-bottom: -1px;
      padding: 0.6em 0.5em 0.8em 0.4em;
      position: relative;
      z-index: 1;
      
      h2 {
        color: lighten($base-font-color, 20%);
        font-size: 1.2em;
        margin-bottom: 0;
      }
      
      &.active {
        background-color: $base-body-color;
        border-bottom: 1px solid $base-accent-color;
        border-left: 10px solid $base-accent-color;
        border-top: 1px solid $base-accent-color;
        color: $base-font-color;
        z-index: 2;
        
        h2 {
          color: $base-font-color;
        }
      }
    }
  }
}
