@import "blogelator/mixins/blogelator_logo";

body.blogelator.admin.posts.index {
  article.post {
    font-size: 2em;
    padding-top: 2em;
    text-align: center;
    
    .logo {
      @include blogelator-logo(50);
      margin: 2em auto 1em;
    }
  }
}