@import "blogelator/bourbon";
@import "blogelator/variables";
@import "blogelator/neat";

body.blogelator.admin.posts.new {
  background-color: darken($base-body-color, 5%);

  header ul li a.posts-index-link.active {
    border-bottom: 5px solid $base-accent-color;
    color: $base-accent-color;
    &:hover {
      border-bottom: 5px solid $admin-header-highlight-color;
      color: $admin-header-highlight-color;
    }
  }
}
