@import "bourbon";
@import "bitters/variables";
@import "neat";

body.blogelator.admin.posts.show {
  article {
    position: relative;
    
    .buttons {
      position: absolute;
      right: 5px;
      
      .edit {
        @include button(simple);
        font-size: 1em;
      }
      
      .publish {
        @include button(simple, lighten(saturate($base-accent-color, 100%), 30%));
        font-size: 1em;
      }
    }
  
    .post {
      & > h1 {
        margin-bottom: 0;
        text-align: center;
      }
    
      & > .date {
        color: #aaa;
        font-size: 0.8em;
        margin: -0.2em auto 2em auto;
        text-align: center;
      }
    }
  }
}