@import "blogelator/bourbon";

body.blogelator {
  h1 {
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 0.7em;
  }
  h3 {
    margin-bottom: 0.5em;
  }
  h4 {
    margin-bottom: 0.25em;
  }
  h5 {
    margin-bottom: 0.25em;
  }
  h6 {
    margin-bottom: 0.25em;
  }
}
