/*
 *= require codemirror
 *= require_self
 */
@import "bourbon";
@import "bitters/variables";

.blogelator-markdown-editor {
  font-size: 0.8em;
  margin-bottom: 1em;
  @include clearfix;
  
  .CodeMirror {
    background-color: #fff;
    border: 1px solid #eee;
    color: #444;
    float: left;
    font-family: "Melno", monospace;
    height: 100%;
    padding: 0.5em;
    position: relative;
    width: 49.8%;
    @include box-sizing(border-box);
    
    &:before {
      background-color: rgba(#fff, 0.95);
      content: "GitHub Flavored Markdown";
      color: #aaa;
      display: block;
      font-family: $base-font-family;
      left: 0;
      line-height: normal;
      padding: 10px;
      position: absolute;
      text-transform: uppercase;
      top: 0;
      width: 100%;
      z-index: 10;
    }
    
    .CodeMirror-code {
      padding-top: 2em;
    }
  }
  .html-preview {
    background-color: #fff;
    border: 1px solid #eee;
    float: right;
    height: 100%;
    margin-top: 0em;
    padding: 0.5em;
    position: relative;
    width: 49.8%;
    @include box-sizing(border-box);
    
    &:before {
      background-color: rgba(#fff, 0.95);
      content: "Preview";
      color: #aaa;
      display: block;
      font-family: $base-font-family;
      left: 0;
      line-height: normal;
      padding: 10px;
      position: absolute;
      text-transform: uppercase;
      top: 0;
      width: 100%;
      z-index: 10;
    }
    
    .body {
      height: 100%;
      overflow: auto;
      padding-top: 2em;
    }
    
    .highlight, pre code {
      background-color: #fbfbfb;
      border: 1px solid #eee;
      border-radius: 4px;
      display: block;
      font-family: "Melno", monospace;
      font-size: 1em;
      line-height: normal;
      margin: 0 0 1em;
      overflow-x: auto;
      padding: 1em;
      width: 100%;
    }
  }
  
  // Markdown styles
  // ------------------------------------
  .cm-header-1,
  .cm-header-2,
  .cm-header-3,
  .cm-header-4,
  .cm-header-5,
  .cm-header-6 {
    color: #222;
    font-size: 1.1em;
    font-weight: bold;
  }
  .cm-em {
    font-style: italic;
  }
  .cm-strong {
    color: #222;
    font-weight: bold;
  }
  .cm-comment {
    color: #aaa;
  }
  
  .cm-link {
    color: $base-link-color;
    & + .cm-tag {
      color: $base-link-color;
    }
    & + .cm-string,
    & + .cm-tag + .cm-string {
      color: #aaa;
    }
  }
  
  // Code Styles
  // ------------------------------------
  .cm-atom,
  .cm-tag {
    color: #477dca;
  }
  .cm-keyword {
    color: #814ede;
  }
  .cm-number {
    color: #83c53d;
  }
  .cm-operator {
    color: #777;
  }
  .cm-string {
    color: #ca2969;
  }
  
}