<header>
  <ul>
    <li>
      <a {{bind-attr href="App.blogelatorPath"}}>Blog</a>
    </li>
    <li>
      {{#link-to "admin.posts" class="posts-index-link"}}
        Content
      {{/link-to}}
    </li>
    <li>
      {{#link-to "admin.posts.new"}}
        New Post
      {{/link-to}}
    </li>
  </ul>
</header>
<main>
  {{outlet}}
</main>