<header>
  <ul>
    <li>
      <a {{bind-attr href="App.appPath"}}>Blog</a>
    </li>
    <li>
      {{#link-to "posts" class="posts-index-link"}}
        Content
      {{/link-to}}
    </li>
    <li>
      {{#link-to "posts.new"}}
        New Post
      {{/link-to}}
    </li>
  </ul>
</header>
<main>
  {{outlet}}
</main>
<footer>
  {{outlet "footer"}}
</footer>
