h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}
