$table-background-color:        $white;
$table-border-color:            color($grey, 300);
$table-header-background-color: color($grey, 100);
$table-header-color:            color($grey, 700);

table {
  min-width: 100%;

  th {
    background-color: $table-header-background-color;
    border: 1px solid $table-border-color;
    color: $table-header-color;
    font-weight: 400;
    padding: 1em;
    text-align: center;
  }

  td {
    background-color: $table-background-color;
    border: 1px solid $table-border-color;
    padding: 1em;
    text-align: center;
  }
}
