// Global styles for the application layout

@import "bourbon";
@import "blogelator/variables";
@import "blogelator/mixins/blogelator_logo";
@import "neat";

body.blogelator {
  header {
    h1 {
      padding: 1em 0;
      text-align: center;
      a {
        border-bottom: 1px solid lighten($base-border-color, 8%);
        color: $base-font-color;
        padding: 0 1em 0.5em 1em;
        text-decoration: none;
        @include transition(border-bottom 0.2s linear);
        
        &:hover {
          border-bottom: 1px solid lighten($base-accent-color, 30%);
        }
      }
    }
    h2 {
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 1em;
      padding: 0 0.5em 0.5em;
      
      a {
        @include outer-container;
        color: $base-font-color;
        display: block;
        max-width: 900px;
        text-decoration: none;
        @include transition(color 0.1s linear);
        
        &:hover {
          color: $base-accent-color;
        }
      }
    }
  }
  
  footer .logo {
    @include blogelator-logo(32);
    margin: 2em auto;
  }
}