// Styles for all actions on the PostsController

@import "bourbon";
@import "neat";

body.blogelator.posts {
  .post > * {
    @include outer-container;
    max-width: 700px;
    padding: 0 10px;
  }
  .post > h1,
  .post > h2 {
    padding: 0 8px;
  }
}