@import "bourbon";
@import "bitters/variables";

html {
  height: 100%;
}

body.blogelator.admin {
  height: 100%;
  
  header {
    background-color: #444;
    margin-bottom: 1em;
    padding: 0;
    
    ul {
      border-bottom: 5px solid $base-accent-color;
      list-style: none;
      margin: 0;
      padding: 0;
      @include clearfix;
      
      li {
        display: block;
        float: left;
        margin: 0;
        
        a {
          border-bottom: 5px solid $base-accent-color;
          color: lighten($base-accent-color, 5%);
          display: block;
          font-size: 1.2em;
          margin: 0 0 -5px;
          padding: 0.5em 0.5em 0.5em 0.5em;
          
          &:hover {
            border-bottom: 5px solid #fff;
            color: #fff;
          }
          &.active {
            border-bottom: 5px solid lighten(saturate($base-accent-color, 100%), 30%);
            color: lighten(saturate($base-accent-color, 100%), 30%);
          }
        }
      }
    }
  }
}