@import "bourbon";
@import "blogelator/variables";

body.blogelator.admin {
  header,
  footer {
    background-color: $admin-header-color;
    border-bottom: 5px solid $admin-header-accent-color;
    height: 45px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
  
body.blogelator.admin {
  header,
  footer {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include clearfix;
      
      li {
        display: block;
        float: left;
        margin: 0;
        
        a {
          border-bottom: 5px solid $base-accent-color;
          color: lighten($admin-header-accent-color, 5%);
          display: block;
          font-size: 1.2em;
          margin: 0 0 -5px;
          padding: 0.5em 0.5em 0.5em 0.5em;
          text-decoration: none;
          
          &:hover {
            border-bottom: 5px solid $admin-header-highlight-color;
            color: $admin-header-highlight-color;
          }
          &.active {
            border-bottom: 5px solid $admin-header-active-color;
            color: $admin-header-active-color;
          }
        }
      }
    }
  }
}

body.blogelator.admin {
  main {
    bottom: 45px;
    padding: 0.6em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 45px;
    width: 100%;
  }
}

body.blogelator.admin {
  footer {
    bottom: 0;
    top: auto;
  }
}