<!DOCTYPE html>
<html>
<head>
  <title>Blogelator</title>
  <%= stylesheet_link_tag    "blogelator/application", media: "all" %>
  <%= javascript_include_tag "blogelator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
