<div class="post-form">
  <div>
    {{view Ember.TextField class="title" placeholder="Blog Post Title" valueBinding="title"}}
  </div>
  {{markdown-editor contentBinding="bodyMarkdown" action="save"}}
</div>