<div class="form-action-bar">
  {{#save-button action="publish" class="publish"}}
    Publish
  {{/save-button}}
  {{#save-button action="save" classNameBindings="isDirty::disabled"}}
    Save
  {{/save-button}}
  <div class="last-saved">
    <label>Last Saved:</label>
    {{lastUpdatedAt}}
  </div>
</div>