<div class="form-action-bar">
  {{#save-button action="togglePublished" class="publish"}}
    {{#if publishedAt}}
      Unpublish
    {{else}}
      Publish
    {{/if}}
  {{/save-button}}
  {{#link-to "posts.edit" content class="save-button edit"}}
    <div class="button-label">
      Edit
    </div>
  {{/link-to}}

  <div class="last-saved">
    <label>Last Saved:</label>
    {{lastUpdatedAt}}
  </div>
</div>