<section class="posts-list">
  {{#each post in controllers.posts}}
    {{#link-to "posts.show" post class="post" tagName="div"}}
      <h2>{{post.title}}</h2>
      <div class="date">
        TODO: Show Date
      </div>
      <div class="summary">
        TODO: Show Summary<br/>
        TODO: Show Summary
      </div>
    {{/link-to}}
  {{/each}}
</section>
<article class="post">
  <h1>{{title}}</h1>
  <div class="date">TODO: Show Date</div>
  <div class="body">
    {{{bodyHtml}}}
  </div>
</article>