<span class="button-label">{{yield}}</span>
<span class="confirm">
  <i class="fa fa-check yes"></i>
  <i class="fa fa-times no"></i>
</span>
<span class="saving"><i class="fa fa-refresh fa-spin"></i></span>
<i class="fa fa-check-circle saved"></i>
<i class="fa fa-exclamation-circle error"></i>