<% cache [Blogelator::VERSION, @posts] do %>
  <% if @posts.length > 0 %>
    <%= render @posts %>
    <%= paginate @posts, views_prefix: "blogelator" %>
  <% else %>
    <p>
      There are no blog posts.
    </p>
  <% end %>
<% end %>
