<% cache [Blogelator::VERSION, @post, "show"] do %>
  <div class="post <%= @post.status %>">
    <h1><%= link_to @post.title, @post.url(request) %></h1>
    <div class="date">
      <%= local_time(@post.published_at, format: '%B %e, %Y') %>
    </div>
    <div class="body">
      <%== @post.body_html %>
    </div>
  </div>

  <% content_for :head do %>
    <% render "meta" %>
  <% end %>
<% end %>
