// Styles for PostsController#index

@import "bourbon";
@import "blogelator/variables";
@import "blogelator/mixins/blogelator_button";
@import "neat";

body.blogelator.posts.index .post {
  & > h2 {
    margin-bottom: 0;
    
    a {
      text-decoration: none;
    }
  }
  
  .summary {
    .continue {
      color: $base-body-color;
      font-size: 0.8em;
      margin: 0 0.2em;
    }
  }
  
  &:hover {
    .summary .continue {
      border-bottom: 1px solid $base-body-color;
      color: lighten($base-font-color, 30%);
      
      &:hover {
        color: $base-accent-color;
      }
    }
  }
}

body.blogelator.posts.index .pagination {
  @include outer-container;
  max-width: 700px;
  padding: 0 1em;
  
  a.older {
    @include blogelator-button($base-body-color, $base-accent-color, "chevron-circle-right", "right");
    float: right;
  }
  a.newer {
    @include blogelator-button($base-body-color, $base-accent-color, "chevron-circle-left", "left");
    float: left;
  }
}