// Styles for PostsController#show

@import "bourbon";
@import "blogelator/variables";
@import "neat";

body.blogelator.posts.show {
  .post {
    & > h1 {
      margin-bottom: 0;
      text-align: center;
      
      a {
        border-bottom: 1px solid $base-body-color;
        color: $base-font-color;
        text-decoration: none;
        @include transition(border-bottom 0.2s linear);
        
        &:hover {
          border-bottom: 1px solid lighten($base-accent-color, 30%);
        }
      }
    }
    
    & > .date {
      text-align: center;
    }
  }
}