.highlight {
  background-color: #fbfbfb;
  border: 1px solid #eee;
  border-radius: 4px;
  display: block;
  font-family: "Melno", monospace;
  font-size: 0.8em;
  line-height: normal;
  overflow-x: auto;
  padding: 1em;
  width: 100%;
  
  .sm,   /* Pygments Literal.String */
  .s1,   /* Pygments Literal.String.Single */
  .s2,   /* Pygments Literal.String.Double */
  .sx,   /* Pygments Literal.String.Other */
  .str { /* prettyprint string */
    color: #ca2969;
  }
  .k,    /* Pygments Keyword */
  .kc,   /* Pygments Keyword.Constant */
  .kd,   /* Pygments Keyword.Declaration */
  .kn,   /* Pygments Keyword.Namespace */
  .kr,   /* Pygments Keyword.Reserved */
  .kt,   /* Pygments Keyword.Type */
  .ss,   /* Pygments Literal.String.Symbol */
  .kwd { /* prettyprint keyword */
    color: #814ede;
  }
  .c,    /* Pygments Comment */
  .cm,   /* Pygments Comment.Multiline */
  .cp,   /* Pygments Comment.Preproc */
  .c1,   /* Pygments Comment.Single */
  .cs,   /* Pygments Comment.Special */
  .com { /* prettyprint comment */
    color: #aaa;
    font-style: italic;
  }
  
  .na,   /* Pygments Name.Attribute */
  .nb,   /* Pygments Name.Builtin */
  .nc,   /* Pygments Name.Class */
  .no,   /* Pygments Name.Constant */
  .nd,   /* Pygments Name.Decorator */
  .ni,   /* Pygments Name.Entity */
  .ne,   /* Pygments Name.Exception */
  .nl,   /* Pygments Name.Label */
  .nn,   /* Pygments Name.Namespace */
  .py,   /* Pygments Name.Property */
  .nt,   /* Pygments Name.Tag */
  .bp,   /* Pygments Name.Builtin.Pseudo */
  .vc,   /* Pygments Name.Variable.Class */
  .vg,   /* Pygments Name.Variable.Global */
  .vi,   /* Pygments Name.Variable.Instance */
  .il,   /* Pygments Literal.Number.Integer.Long */
  .typ { /* prettyprint type */
    color: #477dca;
  }
  .l,    /* Pygments Literal */
  .ld,   /* Pygments Literal.Date */
  .m,    /* Pygments Literal.Number */
  .mf,   /* Pygments Literal.Number.Float */
  .mh,   /* Pygments Literal.Number.Hex */
  .mi,   /* Pygments Literal.Number.Integer */
  .mo,   /* Pygments Literal.Number.Oct */
  .sb,   /* Pygments Literal.String.Backtick */
  .sc,   /* Pygments Literal.String.Char */
  .sd,   /* Pygments Literal.String.Doc */
  .se,   /* Pygments Literal.String.Escape */
  .sh,   /* Pygments Literal.String.Heredoc */
  .si,   /* Pygments Literal.String.Interpol */
  .sr,   /* Pygments Literal.String.Regex */
  .lit { /* prettyprint literal */
    color: #83c53d;
  }
  .o,    /* Pygments Operator */
  .ow,   /* Pygments Operator.Word */
  .p,    /* Pygments Punctuation */
  .pun { /* prettyprint punctuation */
    color: #777;
  }
  .n,    /* Pygments Name */
  .nf,   /* Pygments Name.Function */
  .nx,   /* Pygments Name.Other */
  .nv,   /* Pygments Name.Variable */
  .kp,   /* Pygments Keyword.Pseudo */
  .pln { /* prettyprint plaintext */
    color: #444;
  }
  .tag { /* prettyprint html/xml tag */
    color: #477dca;
  }
  .atn { /* prettyprint html/xml attribute name */
    color: #814ede;
  }
  .atv { /* prettyprint html/xml attribute value */
    color: #ca2969;
  }
  .dec { /* prettyprint decimal */
    color: #83c53d;
  }
  
  .w  { color: transparent } /* Pygments Text.Whitespace */
  .ge { font-style: italic } /* Pygments Generic.Emph */
  .gs { font-weight: bold }  /* Pygments Generic.Strong */
}