/*
 *= require normalize
 */
 
@import "bourbon";
@import "bitters/bitters";

body.blogelator .post {
  h1 {
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 0.7em;
  }
  h3 {
    margin-bottom: 0.5em;
  }
  h4 {
    margin-bottom: 0.25em;
  }
  h5 {
    margin-bottom: 0.25em;
  }
  h6 {
    margin-bottom: 0.25em;
  }

  p {
    margin-bottom: 1em;
    
    a:hover {
      text-decoration: underline;
    }
  }
  
  mark {
    background-color: $highlight-color;
    box-shadow: $highlight-color 0 0 5px;
    padding: 2px 3px;
  }
}
