// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: #3e3e3e;
$base-accent-color: #df0061;
$highlight-color: #fff6bf;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 8%);

// Border color
$base-border-color: #ddd;

// Flash Colors
$error-color: #fbe3e4;
$notice-color: #fff6bf;
$success-color: #e6efc2;
