/*
 *= require normalize
 *= require_self
 *= require_tree ./shared
 *= require_tree ./admin
 */

@import "bourbon";
@import "bitters/bitters";
@import "neat";

.blogelator .admin {
  .header {
    ul {
      list-style: none;
      padding-left: 0;
      li {
        display: inline-block;
        a {
          padding: 5px 10px;
        }
      }
    }
  }
}