@import "blogelator/bourbon";
@import "blogelator/variables";

@mixin blogelator-logo($size:100) {
  background-image: image-url("blogelator/blogelator-logo.svg");
  background-size: 100% 100%;
  display: block;
  height: 1px * $size;
  overflow: hidden;
  text-indent: -9999px;
  width: 3.37px * $size;
}
