@import "bourbon";
@import "blogelator/variables";
@import "font-awesome/variables";
@import "font-awesome/core";
@import "font-awesome/icons";

@mixin blogelator-button($background-color:$base-body-color, $accent-color:$base-accent-color, $icon:"none", $icon-position:"none") {
  background-color: $background-color;
  border: 1px solid $accent-color;
  border-radius: 1.5em;
  color: $accent-color;
  display: block;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include transition(all 0.1s linear);
  
  &:active,
  &:hover {
    background-color: $accent-color;
    color: $background-color;
  }
  
  @if $icon != "none" {
    $icon-class: "." + $fa-css-prefix + "-" + $icon;
    padding: 0.8em 1.1em;
    
    &:before {
      @extend .fa;
      height: 1em;
      font-size: 1.3em;
      margin-top: -0.5em;
      position: absolute;
      top: 50%;
    }
    
    @if $icon-position == "left" {
      padding-left: 2.6em;
    
      &:before {
        @extend #{$icon-class};
        left: 0.7em;
      }
    } @else if $icon-position == "right" {
      padding-right: 2.6em;
    
      &:before {
        @extend #{$icon-class};
        right: 0.7em;
      }
    }
  }
}
